
@model Product
@{
    ViewData["Title"] = "Create";
    IEnumerable<Category> categories = ViewBag.Categories;
    IEnumerable<Brand> brands = ViewBag.Brands;
    IEnumerable<Tag> tags = ViewBag.Tags;
    SelectList selectCategoriesListItems = new SelectList(brands, nameof(Category.Id), nameof(Category.Name));
    SelectList selectBrandsListItems = new SelectList(categories, nameof(Brand.Id), nameof(Brand.Name));
    SelectList selectTagsListItems = new SelectList(tags, nameof(Tag.Id), nameof(Tag.Name));
}

<h1>Create Category</h1>
<div class="row justify-content-center">
    <div class="col-lg-8">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="Title">
                <span asp-validation-for="Title" class="text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" placeholder="Price">
                <span asp-validation-for="Price" class="text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountedPrice"></label>
                <input asp-for="DiscountedPrice" class="form-control" placeholder="DiscountedPrice">
                <span asp-validation-for="DiscountedPrice" class="text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExTax"></label>
                <input asp-for="ExTax" class="form-control" placeholder="ExTax">
                <span asp-validation-for="ExTax" class="text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count"></label>
                <input asp-for="Count" class="form-control" placeholder="Count">
                <span asp-validation-for="Count" class="text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" placeholder="Description">
                <span asp-validation-for="Description" class="text text-danger"></span>
            </div>
            <div class="form-check">
                <input asp-for="IsBestSeller" class="form-check-input">
                <label asp-for="IsBestSeller" class="form-check-label"></label>
                <span asp-validation-for="IsBestSeller" class="text text-danger"></span>

            </div>
            <div class="form-check">
                <input asp-for="IsFeatured" class="form-check-input">
                <label asp-for="IsFeatured" class="form-check-label"></label>
                <span asp-validation-for="IsFeatured" class="text text-danger"></span>

            </div>
            <div class="form-check">
                <input asp-for="IsNewArrival" class="form-check-input">
                <label asp-for="IsNewArrival" class="form-check-label"></label>
                <span asp-validation-for="IsNewArrival" class="text text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="MainImageFile"></label>
                <input asp-for="MainImageFile" accept="image/jpeg" class="form-control">
                <span asp-validation-for="MainImageFile" class="text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoverImageFile"></label>
                <input asp-for="HoverImageFile" accept="image/jpeg" class="form-control">
                <span asp-validation-for="HoverImageFile" class="text text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImagesFiles"></label>
                <input asp-for="ProductImagesFiles" accept="image/jpeg" class="form-control">
                <span asp-validation-for="ProductImagesFiles" class="text text-danger"></span>
            </div>
            <div id="parentList" class="form-group">
                <label>Brand</label>
                <select asp-for="BrandId" class="form-control" asp-items=" selectBrandsListItems">
                </select>
            </div>
            <div id="parentList" class="form-group">
                <label>Category</label>
                <select asp-for="CategoryId" class="form-control" asp-items=" selectCategoriesListItems">
                </select>
            </div>
            <div id="parentList" class="form-group">
                <label>Tag</label>
                <select asp-for="TagIds" class="form-control" asp-items=" selectTagsListItems">
                    <span asp-validation-for="TagIds" class="text text-danger"></span>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

@section script{
    @await Html.PartialAsync("_ValidationPartial")
}